about.txt 
.idea/
classLesson/
TSexamples/
lesson03/node_modules/
lesson04/node_modules/
lesson06/node_modules/
lesson06/dist/
lesson07/tslint.json
lesson07/tsconfig.spec.json
lesson07/src/favicon.ico
lesson07/src/environments/environment.ts
lesson07/e2e/src/app.po.ts
lesson07/.gitignore
lesson07/.editorconfig
lesson07/tsconfig.app.json
lesson07/src/test.ts
lesson07/src/main.ts
lesson07/karma.conf.js
lesson07/e2e/tsconfig.json
lesson07/angular.json
lesson07/README.md
lesson07/src/environments/environment.prod.ts
lesson07/src/assets/.gitkeep
lesson07/e2e/protractor.conf.js
lesson07/browserslist
lesson07/src/styles.sass
lesson07/src/polyfills.ts
lesson07/e2e/src/app.e2e-spec.ts
lesson07/src/index.html
lesson08/tsconfig.spec.json
lesson08/tsconfig.json
lesson08/tsconfig.app.json
lesson08/package.json
lesson08/package-lock.json
lesson08/karma.conf.js
lesson08/browserslist
lesson08/angular.json
lesson08/README.md
lesson08/.gitignore
lesson08/.editorconfig
lesson08/tslint.json
lesson08/e2e/
lesson08/src/assets/
lesson08/src/environments/
lesson08/src/test.ts
lesson08/src/polyfills.ts
lesson08/src/main.ts
lesson08/src/favicon.ico
lesson08/src/styles.css
lesson08/src/index.html

lesson07/tsconfig.json
lesson07/package.json
lesson07/package-lock.json
