<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center pb-4 pt-4 font-weight-bold">{{title | uppercase}}</h1>
                <form (submit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">
                            <h3 class="text-left">Email</h3>
                        </label>
                        <input type="text" id="email" name="email" [(ngModel)]="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">
                            <h3 class="text-left">Password</h3>
                        </label>
                        <input type="text" id="password" name="password" [(ngModel)]="password" class="form-control" required>

                    </div>
                    <input type="submit" value="{{title | uppercase}}" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
</div>